@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
    <head>
        <title>Security Notification</title>
    </head>

    <body style="background-color:grey;">
        <h3>Security Alert!</h3>
        <p>If you are working from home and have any Smart Home devices on, either mute them or turn them off.</p>
    </body>
</html>